<div id="<%= dom_id beer %>">
  <p>
    <strong>Beer type:</strong>
    <%= beer.beer_type %>
  </p>

  
  <!-- <div>
    <strong>Stock:</strong>
    <%#= form_with(url: "/beers/:beer_type" method: :patch, local: true) do |form| %>
      <%#= form.number_field :stock %>
      <%#= form.submit "Update Stock" %>
    <%# end %>
  </div>
 -->



  <p>
    <strong>Stock:</strong>
    <%= beer.stock %>
  </p>

</div>
 